.contenedorPrincipal{
    background-color: rgb(219, 230, 255);
    display: grid;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    grid-template-rows: 40vh 40vh;
    justify-content: center;
    gap: 20px;
}