@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
.contenedorPrincipal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0085CA, #41ade8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0085CA, #41ade8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    flex-wrap: wrap;
}

.contenedorImage{
    width: 400px;
    height: 600px;
}

.imagen{
    padding-top: 80px;
}
.icon{
    width: 60px;
}
.title{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 72px;
    color: white;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: start;
}
.text{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 16px;
    margin-bottom: 70px;
    color: white;
    text-align: end;
}
.btn{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 14px;
    background-color: #87D243;
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: #a1e95e;
}
.btn:active{
    background-color: #7cc735;
}

@media (min-width:1280px){
    .contenedorPrincipal{
        flex-direction: column-reverse;
    }
}