@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:wght@300&display=swap');

.contenedorGeneral{
    width: 100vw;
    height: 100vh;
    background-color: rgba(85, 85, 85,.5);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.contenedorInfo{
    background-color: #E9F7FC;
    border-radius: 9px;
    width: 84vw;
    height: 90vh;
}

.title{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 34px;
    color: #5C737D;
}
.close{
    border: none;
    background-color: rgba(222,222,222,.5);
    border-radius: 50%;
    position: absolute;
    right: 120px;
    top: 40px;
    width: 40px;
    height: 40px;
    color: rgb(38, 38, 38);
    cursor: pointer;
}
.close:hover{
    background-color: rgba(41, 41, 41, 0.5);
    color: white;
    transition: 0.5s;
}

.divInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.divDatos{
    background-color: #e5eaff;
    border: 1px solid rgb(160, 188, 253);
    box-shadow: 0px 1px 9px rgb(160, 188, 253);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(105, 61, 3);
    text-align: start;
    margin-top: 30px;
    padding: 20px;
}
.image{
    width: 500px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 9px rgb(160, 188, 253);
}

@media (max-width: 800px){
    .contenedorInfo{
        overflow: auto;
    }
    .divInfo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }
    .title{
        padding-top: 20px;
        font-size: 16px;
    }
    .divDatos{
        align-items: center;
        width: 70%;
        overflow: auto;
        margin-bottom: 20px;
    }
    .image{
        width: 80%;
        height: auto;
    }
    .close{
        top: 5%;
        right: 43%;
        background-color: rgb(106, 106, 106);
        color: rgb(255, 255, 255);
    }
}
